<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Product description generator</h1>
    <form action="/api" id="productForm" method="POST">
        <label for="productName">Denumirea produsului</label>
        <input type="text" id="productName" name="productName" required>

        <label for="style">Alege stil descriere</label>
        <select id="style" name="style">
            <option value="amuzant">Amuzanta</option>
            <option value="scurt">Scurta</option>
            <option value="lung">Lunga</option>
            <option value="profesional">Profesionala</option>
        </select>

        <button type="submit">Creaza descrierea</button>
    </form>

</body>
</html>